<!-- build:css(.tmp) styles/esv/pynn-editor.css -->
<link rel="stylesheet" href="components/editors/state-machine-editor/smach-editor.style.css"/>
<!-- endbuild -->
<link rel="stylesheet" href="styles/esv/experiment-view.css"/>

<div class="smach-editor-container" ng-keydown="baseEventHandler.suppressAnyKeyPress($event)">

  <div class="smach-ed-header">
    <h3>SMACH State Machine Editor</h3>
    <div class="alert alert-info">
      <p>
        A <a target="_blank" href="http://wiki.ros.org/smach"><b>SMACH</b></a>
        state machine controls the overall experiment. It can monitor the simulation properties published on
        <a target="_blank" href="http://wiki.ros.org/Topics"><b>ROS topics</b></a> (e.g. simulation time, sensor output,
        spiking
        activity of brain) and publish on these topics or call
        <a target="_blank" href="http://wiki.ros.org/Services"><b>ROS Services</b></a>. Get started with our
        <a target="_blank"
           href="{{platformDocumentationURL}}/nrp/tutorials/experiment/state_machines.html"><b>tutorial</b></a>.

      </p>
    </div>

  </div>

  <div style="margin-bottom: 20px;">
    <button type="button" owner-only class="btn btn-default btn-md small-icon-button" ng-click="delete(stateMachine)"
            ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending">
      <i class="glyphicon glyphicon-trash"></i>
    </button>

    <button type="button" owner-only class="btn btn-default btn-md small-icon-button"
            ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
            ng-click="create();">
      <i class="glyphicon glyphicon-plus"></i>
    </button>

    <button class="btn btn-default btn-md small-icon-button"
            ng-click="save()" ng-disabled="stateMachines.length === 0"
            title="Download">
      <i class="glyphicon glyphicon-download"></i>
    </button>

    <button class="btn btn-default btn-md small-icon-button"
            owner-only
            type="file"
            ngf-select="loadStateMachine($file)" accept=".exd"
            ng-disabled="stateService.statePending"
            title="Upload">
      <i class="glyphicon glyphicon-upload"></i>
    </button>

    <button type="button" ng-class="{'smach-apply-changes-dirty':nStateMachineDirty}" class="btn btn-default btn-md small-icon-button"
            ng-click="update(stateMachines)"
            ng-disabled="!nStateMachineDirty || (stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
            v-busy="nStateMachineDirty && stateService.statePending" v-busy-label="Applying changes" v-pressable
            title=" Apply All">
      <i class="glyphicon glyphicon-ok-circle" ng-class="{'smach-apply-changes-dirty':nStateMachineDirty}"></i>
      <span>All</span>
    </button>

  </div>

  <div class="smach-edit-area">
    <div class="left-panel">

      <div class="smach-title-box">
        <div class="smach-title">State Machine Scripts</div>

      </div>

      <div class="smach-box">
        <ul style="height: 100%; overflow-y: auto; padding: 5px;">
          <li ng-repeat="sm in stateMachines"
              ng-class="{'smachDirty' : sm.dirty, 'smachSelected' : sm.id === stateMachine.id, 'smachNotSelected' : sm.id !== stateMachine.id}"
              ng-click="selectStateMachine(sm)">
            <div style="display: flex;">

              <div style="min-width:17px">
                <i ng-show="sm.dirty" class="fa fa-circle" style="font-size: 9px;
                      vertical-align: top;
                      position: relative;
                      top: 5px;
                      left: 3px;"></i>
              </div>

              <div style="display:flex; width: 100%; justify-content: space-between;">

                <div style="text-overflow: ellipsis; overflow: hidden; width: 80%">
                  {{sm.name}}
                </div>

              </div>

              <button owner-only style="cursor:pointer; margin-left: 2px; min-width: 21px; border:unset; background-color: rgba(0, 0, 0, 0);"
                      ng-class="{'smach-apply-changes-dirty':sm.dirty}" ng-click="update(sm)"
                      v-busy="sm.dirty && stateService.statePending" v-busy-label="Applying changes" v-pressable
                      title="Apply Script"
                      ng-if="sm.dirty && (stateService.currentState !== STATE.INITIALIZED) && !stateService.statePending">
                <i class="glyphicon glyphicon-ok" ng-class="{'smach-apply-changes-dirty':sm.dirty}"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="center-panel">
      <div class="smach-content-box">

        <div style="height: 100%;">

          <div style="display:flex; height: 100%; ">

            <div ng-show="stateMachines.length === 0" class="alert alert-info" role="alert"
                 style="height: 53px; margin-top: 28px;width: 100%;background-color: white;">
              There is no SMACH script available for this experiment.
            </div>

            <div ng-show="stateMachines.length !== 0" style="display:flex; flex-direction:column; flex-grow: 1">

              <div id="smachCodeEditor" ui-codemirror ui-refresh="stateMachine.code" ng-model="stateMachine.code"
                   style="height: 100%; font-size:13px"
                   ng-change="onStateMachineChange(stateMachine)">
              </div>

              <div ng-repeat="(type, error) in stateMachine.error">
                <div class="alert alert-danger" style="margin-top: 5px;" role="alert">
                  {{error.message}}
                  <b>({{type}})</b>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>
