<button type="button" owner-only class="btn btn-default btn-md" ng-click="addList()" ng-disabled="true" title="This feature has been disabled">
  <i class="glyphicon glyphicon-star"></i><span> New list</span>
</button>
<button type="button" owner-only class="btn btn-default btn-md" ng-click="addSlice()">
  <i class="glyphicon glyphicon-star"></i><span> New slice</span>
</button>
<button type="button" owner-only class="btn btn-default btn-md"
        ng-click="apply(0)"
        ng-disabled="loading || stateService.statePending || !populationForm.$valid || !localBrainDirty"
        v-busy="loading || stateService.statePending"
        v-busy-label="Applying changes"
        v-pressable>
  <i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>
  <span> Apply</span>
</button>
<span class="alert alert-danger" ng-if="!populationForm.$valid">Invalid population definition.</span>
