<!-- build:css(.tmp) components/editors/environment-editor/environment-editor.style.css -->
<link rel="stylesheet" href="components/editors/environment-editor/environment-editor.style.css"/>
<!-- endbuild -->
<!-- build:css(.tmp) styles/esv/experiment-view.css -->
<link rel="stylesheet" href="styles/esv/experiment-view.css"/>
<!-- endbuild -->


<div class="environment-designer-container">

  <div class="ed-header">

    <h3>Object Library</h3>
    <div class="alert alert-info">
      <p> Environments created for <a target="_blank" href="http://gazebosim.org/"><b>Gazebo</b></a> <img
        src="img/common/gazebo-logo.png"/>
        and using
        <a target="_blank" href="http://sdformat.org/"><b>SDF format</b></a>
        are compatible with the Neurorobotics platform.
      </p>
    </div>

    <div ng-show="(stateService.currentState === STATE.INITIALIZED)" class="alert alert-warning" role="alert">The
      simulation is in initialized state. It has to be started (or started and paused) to enable environment
      edition.
    </div>

    <div>
      <button owner-only type="button" class="btn btn-default btn-md small-icon-button" ng-show="isPrivateExperiment"
              ng-click="saveSDFIntoCollabStorage()"
              ng-disabled="(stateService.currentState === STATE.INITIALIZED)" v-busy="isSavingToCollab"
              v-busy-label="Saving to Storage" title="Save to Storage"
              v-pressable>
        <i class="far fa-save"></i>
      </button>

      <button type="button" class="btn btn-default btn-md small-icon-button" ng-click="exportSDFWorld()"
              ng-disabled="(stateService.currentState === STATE.INITIALIZED)"
              title="Download World">
        <i class="glyphicon glyphicon-download"></i>
      </button>

      <button owner-only type="button" class="btn btn-default btn-md small-icon-button" ng-click="uploadModel('robots')"
              ng-if="devMode" ng-disabled="uploadingModel" title="Upload Robot">
        <i disable-animate ng-class="uploadingModel ? 'fa fa-spinner fa-spin' :'glyphicon glyphicon-upload'"></i>
        <span>Robot</span>
      </button>

      <button owner-only type="button" class="btn btn-default btn-md small-icon-button" ng-click="uploadModel('brains')"
              ng-if="devMode" ng-disabled="uploadingModel" title="Upload Brain">
        <i disable-animate ng-class="uploadingModel ? 'fa fa-spinner fa-spin' :'glyphicon glyphicon-upload'"></i>
        <span>Brain</span>
      </button>

      <div class="ed-bottom-box_options">
        <input id="lightsVisibilityCheckbox" type="checkbox" ng-model="gz3d.scene.showLightHelpers"
               ng-change="gz3d.setLightHelperVisibility()"/>
        <label for="lightsVisibilityCheckbox" style="font-weight: normal;">Show visualization of lights</label>
      </div>
    </div>

    <hr>

    <div class="ed-section-toolbar">

      <div ng-mousedown="category.colorMode='mousedown'" ng-mouseup="category.colorMode='mouseover'"
           ng-mouseover="category.colorMode='mouseover'"
           ng-mouseleave="category.colorMode='default'" ng-click="toggleVisibleCategory(category)"
           ng-repeat="category in categories"
           ng-class="{'ed-section-button':true,'ed-section-button-first':$first,'ed-section-button-last':$last}"
           style="background-color: {{category.visible?category.color[category.colorMode]: (category.colorMode=='mouseover'? '#ffffff' : '#eeeeee')}};">

        <img class="ed-section-image" ng-src="{{'img/esv/envsections/'+category.thumbnail}}" draggable="false"/>

        <div class="ed-section-caption">{{category.title}}</div>

      </div>

    </div>

  </div>


  <div class="ed-object-list-border">
    <div ng-controller="insertControl" class="ed-object-list">
      <li ng-repeat="model in visibleModels" class="ed-objectlist-item">
        <div owner-only id="insert-entity-{{model.modelPath}}"
             ng-mousedown="onModelMouseDown($event, model);"
             data-role="button" class="ed-objectlist-content" style="border: 2px solid {{model.color}};">
          <div ng-if="model.public" class="ed-public-tag noselect"> public</div>
          <div ng-if="model.custom" class="ed-private-tag noselect"> private</div>
          <md-tooltip class="tooltip-multiline" ng-if="model.isBrain || model.isRobot">{{model.description}}
          </md-tooltip>
          <div class="ed-objectlist-content-img-box">
            <img ng-src="{{model.thumbnail?model.thumbnail:assetsPath+'/'+model.modelPath+'/thumbnail.png'}}"
                 draggable="false" class="ed-img-thumbnail ed-environment-thumbnail"
                 ng-class="stateService.currentState === STATE.INITIALIZED || ownerOnlyDisabled? 'disabled-image' : 'clickable'"
                 alt="{{model.modelPath}}">

          </div>

          <div class="env-object-caption-box">
            <div class="env-object-caption" style="background: {{model.color}};">
              {{model.modelTitle}}
            </div>
          </div>

        </div>
      </li>
    </div>
  </div>
</div>
