<!-- build:css(.tmp) styles/esv/pull-force.css -->
<link rel="stylesheet" href="components/dynamic-view-overlay/dynamic-view-overlay.style.css"/>
<link rel="stylesheet" href="components/user-interaction/apply-force-view.style.css" />
<link rel="stylesheet" href="components/user-interaction/pull-force.style.css"/>
<!-- endbuild -->
<div class="dynamic-view-overlay-content">
    You can now apply forces on objects by dragging them around. </p>
    <div class="slidecontainer">
        Force amplifier:</p>
        min <input type="range" min="0.1" max="10" value="1" step="0.1" class="slider" id="forceAmplifier" ng-model="vm.forceAmplifier" ng-change="vm.updateForceAmplifier()">max
    </div>
    <button type="button" ng-click="vm.UseAdancedMode()">
        Use advanced mode
    </button>
</div>
